.comment {
  position: relative; /* Для абсолютного позиционирования кнопки удаления */
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Сразу размещаем контент и действия на разных концах */
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  
}

.userContainer {
  display: flex;
  align-items: center;
}

.avatar {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.commentContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.username {
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

.date {
  font-size: 12px;
  color: #888;
  margin-top: 4px;
}

.text {
  margin-top: 5px;
  font-size: 15px;
  
}

.actions {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto; /* Сдвигаем блок с лайками и удалением к правому краю */
}

.likeContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 2px;
  right: 2px; /* Удаление в правом верхнем углу */
  font-size: 15px;
}

.likeButton {
  cursor: pointer;
  width: 17px;
  height: 17px;
  margin-right: 5px;
}

.likeButton:hover {
  color: #ff5a5f;
}

.deleteButton {
  position: absolute;
  top: 2px;
  right: 2px; /* Удаление в правом верхнем углу */
  width: 17px;
  height: 17px;
  cursor: pointer;
}
