.createPostForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
}

.textInput {
  flex-grow: 1;
  min-height: 40px;
  max-height: 150px;
  overflow-y: auto;
  margin-right: 10px;
  padding: 5px;
  border: none;
  outline: none;
  resize: none;
}

.buttons {
  display: flex;
  align-items: center;
}

.fileButton {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url('../../assets/addImage.svg');
  background-size: cover;
  cursor: pointer;
}

.sendButton {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.memesContainer, .sourceImagesContainer {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}
.previewTitle {
  margin-bottom: 5px;
  
  font-size: 14px;
  font-weight: bold;
}
.previewContainer {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
}
.memesContainer {
  
}
.sourceImagesContainer {
 
}
.previewImages {
  display: flex;
  flex-wrap: wrap;
}

.previewWrapper {
  display: flex;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.previewImage {
  max-width: 80px;
  max-height: 80px;
  border-radius: 5px;
}

.previewImageAdd {
  max-width: 50px;
  max-height: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteImage {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  right: 3px;
  cursor: pointer;
}
