@import '../../../styles/mixins';

.postContent {
  margin-top: 30px;
  position: relative;
}
.likeButton {
  margin-right: 10px;
  max-width: 20px;
  max-height: 20px;
  cursor: pointer;
}
.commentsButton {
margin-right: 10px;
max-width: 20px;
max-height: 20px;
}

.deleteButton {
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 25px;
  max-height: 25px;
  cursor: pointer;
}
.likeComContainer {
  @include likeComContainer
}

.likeContainer {
  @include likeContainer;
}

.commentsContainer {
  @include commentsContainer;
}
.userContainer {
  @include userContainer;
}

.avatar {
  @include avatar;
}

.sendComment {
margin-left: 10px;
border-radius: 10px;
}
.sendCommentContainer {
margin-top: 10px;
display: flex;
align-items: center;
}

.input { 
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 100%;
}
.input:focus {
outline: none;
}

.postImage {
  margin-top: 15px;
  position: relative;
  width: 100%;
}

.showMoreComments {
margin-left: 10px;
color: rgb(152, 145, 255) !important;
cursor: pointer;
}