@import '../../styles/mixins';


.userContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
  margin-bottom: 2px;
}

.date {
  color: #8e8e8e;
  font-size: 12px;
  cursor: pointer;
}

.date:hover {
  text-decoration: underline;
}

.postContent {
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.5;
  cursor: pointer;
}

.imageSlider {
  margin-top: 15px;
  width: 100%; /* Устанавливаем ширину слайдера на всю ширину поста */
  cursor: pointer;
}

.deleteButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.likeComContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
  margin-top: 15px;
}

.likeContainer,
.commentsContainer,
.shareContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.likeButton,
.commentsButton {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.downloadButton {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.sendCommentContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.sendComment {
  margin-left: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  width: 25px;
  height: 25px;
  color: white;
  border: none;
  cursor: pointer;
}

.showMoreComments {
  margin-top: 10px;
  color: #007aff;
  cursor: pointer;
}
