.avatar {
    display: block; /* Убираем отступы по умолчанию */
    width: 45px; /* Задайте ширину */
    height: 45px; /* Задайте высоту */
    border-radius: 50%; /* Сделает контейнер круглым */
    object-fit: cover; /* Заполняет контейнер, сохраняя пропорции */
  }
  
.userContainer {
    display: flex;
    align-items: center;
}