// styles/_variables.scss


$light-theme: (
  background: #f5f5f5,
  text: black,
  button-bg: #0070f3,
  button-text: #ffffff,
  post: #e7e7e7,
  post-border: rgba(165, 165, 165, 0.3),
  comment: #d3d3d3,
  comment-text: black,
  header: #ffffff,
  header-text: black
);

$dark-theme: (
  background: #222222,
  text: #ffffff,
  button-bg: #0070f3,
  button-text: #ffffff,
  post: #4D4D4D,
  post-border: rgba(165, 165, 165, 0.3),
  comment: #706e6e,
  comment-text: white,
  header: #4D4D4D,
  header-text: #ffffff
);