// styles/_variables.scss

$light-theme: (
  background: #f5f5f5,
  text: #333333,
  button-bg: #0070f3,
  button-text: #ffffff,
  post: #ffffff,
  post-border: #e0e0e0,
  message: #ffffff,
  comment: #f0f0f0,
  comment-text: #333333,
  header: #ffffff,
  header-text: #333333
);

$dark-theme: (
  background: #222222,
  text: #ffffff,
  button-bg: #0070f3,
  button-text: #ffffff,
  post: #2b2b2b,
  post-border: rgba(165, 165, 165, 0.3),
  comment: #353535,
  message: #454545,
  message-border: rgba(165, 165, 165, 0.3),
  messageShare: #5e5d5d,
  comment-text: #ffffff,
  header: #474747,
  header-text: #ffffff
);
